$color-primary: #293dd2;
// Font.
$font: (
  primary: (BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif),
  secondary: (BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif)
);

// Palette.
$palette: (
  primary:       #5e5e5e,
  secondary:     darken(#5e5e5e, 25%),
  meta:          lighten(#5e5e5e, 25%),
  border:        lighten(#5e5e5e, 50%),
  bg:            lighten(#5e5e5e, 60%),
  accent:        #3cb464,
  accent-blue:   $color-primary,
  accent-black:  #323232,
  accent-red:    #a51c30
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";

@import "styles/main";
