.work-cards{
  li {
    position: relative;
    &:first-child { z-index: 8; }
    &:nth-child(2) { z-index: 7; }
    &:nth-child(3) { z-index: 6; }
    &:nth-child(4) { z-index: 5; }
    &:nth-child(5) { z-index: 4; }
    &:nth-child(6) { z-index: 3; }
    &:nth-child(7) { z-index: 2; }
    &:nth-child(8) { z-index: 1; }
  }
  figure {
    position: relative;
    img {
      max-width: 100%;
      display: block;
      position: relative;
      z-index: 10;
    }
  }
  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: $white;
    color: $color-primary;
    height: 100%;
    width: 100%;
    opacity: 0;
    backface-visibility: hidden;
    box-shadow: 0 0 0 0px #fff;
    transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
    h3, span, a{
      opacity: 0;
      transition: opacity 0s;
    }
    h3{
      margin-top: 63%;
      font-size: 1.5em;
    }
    span{
      display: none;
    }
    a{
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
  figure:hover figcaption{
    opacity: 1;
    height: 130%;
    box-shadow: 0 0 0 10px #fff;
    h3, span, a{
      transition: opacity 0.3s 0.2s;
      opacity: 1;
    }
  }
}

@media screen and (max-width: $tablet - 1) {
  .work-cards figcaption a{
    left: 50%;
    bottom: 4px;
    margin-left: -53px;
    right: auto;
  }
}
