$color-primary: #293dd2;
$color-secondary: rgba($color-primary, 0.9);
$white: #fff;
$tablet: 769px !default

$radius-large: 3px;

/* Bulma variables */
$primary: $color-primary;

/* Bulma selective imports */
